<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.jdr23bc.muzeisimplesource">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".SimpleArtSource"
            android:label="@string/source_name"
            android:description="@string/source_description"
            android:icon="@drawable/ic_source">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>
            <meta-data android:name="color" android:value="#fa0" />
        </service>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ca.jdr23bc.muzeisimplesource.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
